---
title: Deploy My Codes API Reference

language_tabs:
  - http
  - shell: cURL
  - ruby

toc_footers:
  - <a href='https://www.deploymy.codes'>Register for a developer key</a>
  - <a href='http://blog.deploymy.codes'>Read the blog</a>

includes:
  - user/explanation
  - user/self
  - user/remote_projects
  - user/organizations
  - user/remote_organizations_projects
  - user/remote_project
  - project/explanation
  - project/project_list
  - project/get_project
  - project/create_environment
  - project/get_environment
  - project/environment_list

search: true
---

# Introduction

Welcome to the Deploy My Codes API! You can use our API to access deploymy.codes API endpoints, which can help you to deploy your projects.

We just provide the API endpoint, there is no package available for your preferred languages (sorry) but it's easy enough to use the API with your default packages, we promise.

# Authentication

Not yet documented.
